Data/Dataset/*
Data/ML/*
__pycache__/
logs/
checkpoints/
wandb/
dataset-original.py
dataset-ram.py
dataset-newest2.py
README2.md
.idea/
reference/
og.tif
dem_tiles.zip
train.txt

train1.txt
train2.sh
train2.txt
trainOld.txt
DEM_row_000_col_000.tif
