Data/Dataset/*
Data/ML/*
__pycache__/
logs/
checkpoints/
wandb/
dataset-original.py
dataset-ram.py
dataset-newest2.py
README2.md
.idea/
reference/
og.tif
dem_tiles.zip
train.txt

train1.txt
train2.sh
train2.txt
trainOld.txt
DEM_row_000_col_000.tif
Personalized/Earthnet_No_Aux/1.ckpt
Personalized/Earthnet_No_Aux/2.ckpt
Personalized/Earthnet_No_Aux/3.ckpt
Personalized/Earthnet_No_Aux/4.ckpt
Personalized/Earthnet_No_Aux/all.ckpt
